################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/MinerGame/v15/Server/sqlite3
/MinerGame/obj/x86/Debug
*.sqlite
